body{
	font-family: 'Montserrat', sans-serif;
}
 
p {
  line-height: 2rem;
}

footer td {
	padding-bottom: 5px;
	padding-top: 5px;
}

footer.page-footer {
  margin: 0;
}

.bio{
	display: inline-flex;
    vertical-align: middle;
	padding-right:10px;
}

footer a{
	color: white;
}

.bio > a:hover{
	text-decoration:underline;
}